extends ../layout

append meta
    title= mindmap.title

block body
    include ../components/navbar

    .container
        .row
            .col-xs-12.col-lg-8
                svg(onload='load("' + mindmap._id + '")')
            .col-xs-12.col-lg-4
                .list-group

append script
    script(src="/socket.io/socket.io.js")
    script(src="/js/mindmap.js")