extends ../layout

append meta
    title= mindmap.title

append style
    link(rel="stylesheet" href="/css/mindmap.css")

block body
    include ../components/navbar

    #mindmap-container.container
        svg#mindmap(onload='load("' + mindmap._id + '")')

    include ../components/modal

append script
    script(src="/js/d3.min.js")
    script(src="/js/mindmap.js")