extends ../layout

append meta
    title= mindmap.title

block body
    include ../components/navbar

    .container

append script
    script(src="/socket.io/socket.io.js")
    script(src="/js/mindmap.js")